@model RHOFATMA.Web.Models.TblRole
@{ ViewData["Title"] = "Details role"; }

<h1 class="h3 mb-3">Details role</h1>
<dl class="row">
    <dt class="col-sm-3">Role</dt>
    <dd class="col-sm-9">@Model.NomRole</dd>
    <dt class="col-sm-3">Description</dt>
    <dd class="col-sm-9">@Model.DescriptionRole</dd>
</dl>
<a asp-action="Edit" asp-route-id="@Model.IdRole" class="btn btn-primary">Modifier</a>
<a asp-action="Index" class="btn btn-outline-secondary">Retour</a>
